<div class="panemain HCMP000010">
	<div class="haisou_pass">
						{{hcmp000010Controller.hcmp000010.label.word00005}}
	 </div>
	 <div class="haisou_pass">
	 	<input type="button" class="btn btn-primary haisou_login_btn_wid" ng-click="hcmp000010Controller.nextBusMap();"
						value="{{hcmp000010Controller.hcmp000010.label.word00001}}">
	 </div>
	 <div class="haisou_pass">
	 	<input type="button" class="btn btn-primary haisou_login_btn_wid" ng-click="hcmp000010Controller.nextCustList();"
						value="{{hcmp000010Controller.hcmp000010.label.word00002}}">
	 </div>
	 <div class="haisou_pass">
	 	<input type="button" class="btn btn-primary haisou_login_btn_wid" ng-click="hcmp000010Controller.nextSkj();"
						value="{{hcmp000010Controller.hcmp000010.label.word00003}}">
	 </div>
	 <div class="haisou_pass">
	 	<input type="button" class="btn btn-primary haisou_login_btn_wid" ng-click="hcmp000010Controller.nextHaisou();"
						value="{{hcmp000010Controller.hcmp000010.label.word00004}}">
	 </div>
</div>