<div class="bg-main panemain LGIP000001">
	<div class="login_position">
		<table class="sampleTable login_outline">
				<tr>
					<th class="bg-primary login_th" colspan="2">{{lgip000001Controller.lgip000001.label.word00001}}</th>
				</tr>
				<tr class="login_td">
					<td>{{lgip000001Controller.lgip000001.label.word00002}}</td>
					<td><input type="text" style="width:180px"
						ng-model="lgip000001Controller.lgip000001.loginUser"></td>
				</tr>
				<tr class="login_td">
					<td>{{lgip000001Controller.lgip000001.label.word00003}}</td>
					<td><input type="text" style="width:180px"
						ng-model="lgip000001Controller.lgip000001.loginPasWd"></td>
				</tr>
				<tr class="login_td">
					<td><input type="button" class="btn btn-primary"
						ng-click="lgip000001Controller.login();"
						value="{{lgip000001Controller.lgip000001.label.word00005}}"></td>
					<td><input type="button" class="btn btn-primary"
						ng-click="lgip000001Controller.clear();"
						value="{{lgip000001Controller.lgip000001.label.word00004}}"></td>
				</tr>
		</table>
	</div>
</div>